<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>geeky</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <div id="dab">
        <div class="bubbly-text" style="position: relative;top: 20px;color: blueviolet;font-size: 40px;background-color: #b39ddb;">Love is in the air... but how much? <br> Let's find out!🐾
            <span class="heart">❤</span>
            <span class="heart">❤</span>
            <span class="heart">❤</span></div>
        
        <div class="container">
            <div class="bubbly-text" style="position: relative;top: -30px;color: blueviolet;font-size: 27px;">Enter your names and let fate decide <br>your love story!🔮</div>
            {% with messages = get_flashed_messages(with_categories=true) %}
					{% if messages %}
						{% for category, message in messages %}
							<p style="color:white">
								{{message}}
							</p>
						{% endfor %}
					{% endif %}
			{% endwith %}
            
            <form id="loveForm" method="POST">
                <div class="input-group">
                    <input type="text" id="name1" name="name1" placeholder="You" required>
                    <input type="text" id="name2" name="name2" placeholder="them" required>
                </div>
    
                <button type="submit">Calculate Love!</button>
            </form>
        </div>

        <p id="result"></p>

            
            <div class="scroll-container">
                <div class="scroll-text">
                    <p>Because Even Love Needs an Algorithm!</p>
                    <p>Love + Math = Destiny? </p>
                    <p> 💌</p>
                    <p>Signal Detected! <br>Is Your Love Perfect Connection?</p><br>
                    <p>Calculate Your Love, the Geeky Way!</p>
                    <p>~XOXO</p>
                </div>
            </div>
        </div>    

        <script>
            document.getElementById('loveForm').addEventListener('submit', function(event) {
                event.preventDefault(); // Prevent form from submitting traditionally
                
                const name1 = document.getElementById('name1').value;
                const name2 = document.getElementById('name2').value;
    
                fetch('/lovemeter', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        name1: name1,
                        name2: name2
                    })
                })
                .then(response => response.json())
                .then(data => {
                    document.getElementById("result").innerText = `${data.percentage}`;
                })
                .catch(error => console.error('Error:', error));
            });
        </script>
</body>
</html>
