<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>geeky</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <div class="row">
        <div class="box"></div>
        <div class="box" style="background-color: #d17283;"><span id="heart">❤</span></div>
        <div class="box"></div>
    </div>
    <div class="row">
        <div class="box" style="background-color: #d17283;"><span id="heart">❤</span></div>
        
        <div class="box" ></div>
        <div class="box" style="background-color: #d17283;"><span id="heart">❤</span></div>
    </div>
    <div class="row">
        <div class="box"></div>
        <div class="box" style="background-color: #d17283;"><span id="heart">❤</span></div>
        <div class="box"></div>
       
    </div>
    <div class="bubbly-text">Geeky Nerdy <br>Pyaar
        <span class="heart">❤</span>
        <span class="heart">❤</span>
        <span class="heart">❤</span></div>
 
</body>
</html>